################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/source/.vs
/source/GuidGen.Console/bin
/source/GuidGen.Console/obj
/source/GuidGen.UnitTesting/bin
/source/GuidGen.UnitTesting/obj
/source/TestResults
*.snk
/Binaries/tools/copy_release.bat
/Binaries/tools/SetVersion.ps1
/source/Choco.Installer/guidgen-console.2.0.0.5.nupkg
