################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/UnitTesting/GuidGen.UnitTesting/obj/Release
/source/GuidGen.Console/bin
/source/GuidGen.Console/obj
/source/GuidGen.UnitTesting/bin
/source/GuidGen.UnitTesting/obj
*.snk
