<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="default:output:format" value="D"/>
    <add key="default:guid:type" value="G"/>
    <add key="default:example" value="01020304-0506-0708-090a-0b0c0d0e0f10"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
